# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#*.txt
.idea
__pycache__

mysite/*/local_settings.py
mysite/db.sqlite3

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
mysite/media
venv
cmake-build-debug