{% extends "base.html"  %}
{% load static %}

{% block title %}index_title{% endblock %}
<!--{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">{% endblock %}-->

{% block js %}
 {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
     <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 20
        });
    </script>
{% include page_template %}
{% endblock %}