{% extends "base.html"  %}
{% block title %}search{% endblock %}

{% block body %}
<br>
    <form action="{% url 'polls:search' %}" method="post">
        {% csrf_token %}
        <div>
            <input class="form-control" placeholder="请输入搜索内容" id="kword" name="kword" type="text" maxlength="120"/>
        </div>
        <input class="btn btn-primary" id="subSerch" type="submit" value="全 文 搜 索" />
    </form>

  <!--wrapper-->
    <div>
        <ul>
            <li>问题 / 时间</li>
        </ul>
        <ul>
            {% for question in question_list %}
            <li>
                <div>
                    <span>
                        <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                         / {{ question.pub_date }}
                    </span>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div> -------------------------------</div>
        <ul>
            <li>答案 / 票数</li>
        </ul>
        <ul>
            {% for choice in choice_list %}
            <li>
                <div>
                    <span>
                        <a href="{% url 'polls:detail' choice.question.id %}">{{ choice.choice_text }}</a>
                        / {{ choice.votes }}
                    </span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
