<!doctype html>
{% load static %}
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="SHORTCUT ICON" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block link %}{% endblock %}
</head>

<div>
    <header>公正投票</header>
</div>

{% if user.is_authenticated %}
    <span> Hello,{{ user.username }}已登录</span>
    <br>
    <a href="{% url 'user:logout' %}">退出登录</a>
    <br>
    <a href="{% url 'user:change_password' %}">修改密码</a>
{% else %}
    <span > Hello, 陌生人，您未登录 </span>
    <a href="{% url 'user:login' %}">点这里登录</a>
    <br>
    <a href="{% url 'polls:index' %}">不想登录或注册，随便看看</a>
{% endif %}

<br>
<a href="{% url 'user:register' %}">注册</a> <br>

{% block body %}{% endblock %}
{% block js %}{% endblock %}

<div>
    <footer>© 2023 zhangdanying. All rights reserved.</footer>
</div>

</html>
