asgiref==3.7.2
Babel==2.13.1
Django==3.2.23
django-el-pagination==4.0.0
django-extra-views==0.14.0
django-haystack==3.2.1
django-oscar==3.2
django-phonenumber-field==6.4.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.18
django-tables2==2.3.4
django-treebeard==4.6.0
django-widget-tweaks==1.4.12
factory-boy==3.2.1
Faker==18.13.0
phonenumbers==8.13.26
Pillow==9.5.0
psycopg2==2.9.9
purl==1.6
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
sorl-thumbnail==12.9.0
sqlparse==0.4.4
typing-extensions==4.7.1
