{% extends "base.html"  %}
{% load static %}
{% block title %}修改密码{% endblock %}
{% block link %}<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">{% endblock %}

{% block body %}
<div class="flex-center">
    <div class="container">
    <div class="flex-center">
    <div class="unit-1-2 unit-1-on-mobile">
            <h1>更改密码</h1>
        <form class="form" action="" method="post">
            {% csrf_token %}
            <div>旧密码:{{ form.old_password }}</div><div style="color:#F00">{{ form.old_password.errors }}</div>
            <div>新密码:{{ form.new_password1 }}</div><div style="color:#F00">{{ form.new_password1.errors }}</div>
            <div>新密码确认:{{ form.new_password2 }}</div><div style="color:#F00">{{ form.new_password2.errors }}</div>
            <button type="submit" class="btn btn-primary btn-block">提 交</button>
        </form>
    </div>
    </div>
    </div>
</div>
{% endblock %}


