{% extends "base.html"  %}
{% load static %}
{% block title %}找回密码{% endblock %}
{% block link %}<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">{% endblock %}

{% block body %}
<div class="flex-center">
    <div class="container">
    <div class="flex-center">
    <div class="unit-1-2 unit-1-on-mobile">
            <h1>找回密码</h1>
        <form class="form" action="" method="post">
            {% csrf_token %}
            <div>邮箱:{{ form.email }}</div><div style="color:#F00">{{ form.email.errors }}</div>
            <button type="submit" class="btn btn-primary btn-block">提 交</button>
        </form>
    </div>
    </div>
    </div>
</div>
{% endblock %}


