{% extends "base.html"  %}
{% load static %}
{% block title %}用户管理{% endblock %}
{% block link %}<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">{% endblock %}

{% block body %}
<body>
<div class="flex-center">
    <div class="container">
    <div class="flex-center">
    <div class="unit-1-2 unit-1-on-mobile">
        {% if user_login %}
            <div><h1>用户登录</h1>
            {% if messages %}
                {% for message in messages %}
                {{ message }}
            {% endfor %}</div>
            {% endif %}
        {% else %}
            <h1>用户注册</h1>
        {% endif %}
        {% if tips %}
            <div style="color:#F00">{{ tips }}</div>
        {% endif %}
        <form class="form" action="" method="post">
            {% csrf_token %}
            <div>用户名:{{ user.username }}</div><div style="color:#F00">{{ user.username.errors }}</div>
            <div>密  码:{{ user.password1 }}</div><div style="color:#F00">{{ user.password1.errors }}</div>
            {% if user_login %}
            <div><a href="{% url 'user:find_password' %}">忘记密码?</a></div>
            {% else %}
            <div>密码确认:{{ user.password2 }}</div><div style="color:#F00">{{ user.password2.errors }}</div>
            <div>邮  箱(用于找回密码):{{ user.email }}</div><div style="color:#F00">{{ user.email.errors }}</div>
            <div>(选填)手机号:{{ user.mobile }}</div>
            <div>(选填)Q Q 号:{{ user.qq }}</div>
            <div>(选填)微信号:{{ user.weChat }}</div>
            {% endif %}
            <div>验证码:{{ user.captcha }}</div><div style="color:#F00">{{ user.captcha.errors }}</div>(点击图片换一张)
            <button type="submit" class="btn btn-primary btn-block">提 交</button>
        </form>
    </div>
    </div>
    </div>
</div>
</body>
{% endblock %}

{% block js %}
<script src="https://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
<script>
     //点击刷新验证码
    $(function () {
        $('.captcha').css({
            'cursor': 'pointer'
        });
        // ajax刷新
        $('.captcha').click(function () {
            console.log('click');
            $.get("{% url 'captcha-refresh' %}",
                function (result) {
                    $('.captcha').attr('src', result['image_url']);
                    $('#id_captcha_0').val(result['key'])
                });
        });
    })
</script>
{% endblock %}


